* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background: #212121;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  margin-top: 50px;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}

.subheader_call {
  text-align: right;
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
}

.subheader_phone {
  margin-top: 8px;
  text-align: right;
  display: block;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 12px;
}

.subheader .subheader_btn, .promo .promo_btn {
  margin-top: 19px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  border-radius: 4px;
  width: 172px;
  height: 46px;
  border: none;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
}

.subheader .subheader_btn:hover, .promo .promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/bacground/main_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 22px 0 0 0;
}

.promo_descr {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.promo_btn {
  width: 259px;
  height: 63px;
  font-size: 18px;
  display: block;
  margin: 116px auto 0;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 71px 0 65px 0;
}

.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons_descr {
  width: 343px;
}

.reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  margin-top: 19px;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
  text-align: center;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/bacground/mobile_bg.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding: 92px 0 34px;
}

.mobile_item_1 {
  background: url("../img/cards/1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/cards/2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/cards/3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/cards/4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/cards/5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/cards/6.png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 26px;
  height: 26px;
  background: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.car {
  min-height: 900px;
  background: url("../img/bacground/car_bg.png") center center/cover no-repeat;
  padding: 57px 0 137px;
}

.car_label {
  background: #fff;
  color: #070716;
}

.car_title {
  color: #fff;
  margin-top: 27px;
}

.car_subtitle {
  color: #fff;
  margin-top: 1px;
}

.car_img {
  display: block;
  margin: 54px auto 0;
}

.car_text {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  text-align: center;
}

.required {
  padding: 68px 0 84px 0;
  min-height: 930px;
}

.required_block {
  margin: 33px 0;
}

.required_block_nmd {
  margin-bottom: 0;
}

.required_title {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}

.required_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.required_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
}

.required_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -31px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/little_icn/blue.png") center center/cover no-repeat;
}

.required_descr {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.required .warning .required_title {
  color: #ff5656;
}

.required .warning .required_list li:before {
  background: url("../icons/little_icn/red.png") center center/cover no-repeat;
}
